
/source_code
/scripts/cyberid_pkg/server_kit/__pycache__
/scripts/cyberid_pkg/learning_kit/__pycache__
/scripts/cyberid_pkg/client_kit/__pycache__
/scripts/cyberid_pkg/__pycache__
/scripts/cyberid_pkg/server_kit/.ipynb_checkpoints
/scripts/cyberid_pkg/learning_kit/.ipynb_checkpoints
/scripts/cyberid_pkg/client_kit/.ipynb_checkpoints
/scripts/.ipynb_checkpoints
/scripts/cyberid_pkg/.ipynb_checkpoints
/scripts/__pycache__
